@import models.Pet
@()

@main("Home") {
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-7 offset-md-2 text-center">
        <h1 class="display-6 fw-bold">Welcome to Play Pet Store!</h1>
        <img class="img-fluid mx-auto rounded-circle" src="@routes.Assets.versioned("images/splash.jpg")"/>
        <hr>
        <div class="list-group">
        @for(petType <- Pet.PetType.values()) {
          <a href="#" class="list-group-item list-group-item-action">@petType</a>
        }
        </div>
      </div>
    </div>
  </div>
}
