@import models.Pet
@(searchResults : List[Pet])

@main("Pet List") {
    <div class="container">
        <div class="row">
            <div class="align-self-center text-center">
                <p>List of pets: </p>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Product ID</th>
                            <th scope="col">Product Type</th>
                            <th scope="col">Name</th>
                            <th scope="col">Color</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(result <- searchResults) {
                            <tr>
                                <th scope="row">@result.getProductId</th>
                                <td>@result.getPetType.name</td>
                                <td>@result.getName</td>
                                <td>@result.getColor</td>
                                <td>@result.getDescription</td>
                                <td>$@result.getPrice</td>
                                <td><button type="button" class="btn btn-primary btn-sm">Add to Cart</button></td>
                            </tr>
                        }
                        <tr>
                            <th scope="row">PPS-001-A</th>
                            <td>Dog</td>
                            <td>West Highland Terrier</td>
                            <td>White</td>
                            <td>Commonly known as the "Westie".</td>
                            <td>$500.00</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Add to Cart</button></td>
                        </tr>
                        <tr>
                            <th scope="row">PPS-002-A</th>
                            <td>Dog</td>
                            <td>German Shepherd</td>
                            <td>Brown</td>
                            <td>Working breed known for its intelligence.</td>
                            <td>$800.00</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Add to Cart</button></td>
                        </tr>
                        <tr>
                            <th scope="row">PPS-003-A</th>
                            <td>Dog</td>
                            <td>Dachshund</td>
                            <td>Black</td>
                            <td>A short-legged, long-bodied hound known as the "wiener dog".</td>
                            <td>$400.00</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Add to Cart</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}