@import models.Pet
@(searchResults : List[Pet])

@main("Pet List") {
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h5 class="text-light" >@searchResults.size results</h5>
                <hr>
                <ul class="list-group shadow">
                    @for(result <- searchResults) {
                        @petListEntry(result)
                    }
                </ul>
            </div>
        </div>
    </div>
    <script>
            function handleAddToCart(button, petId, petName) {
                button.disabled = true;
                fetch('/cart/1/' + petId, {method: 'PATCH'})
                        .then((response) => {
                            if (!response.ok) {
                                throw new Error('Failed to add ' + petName + ' to cart.');
                            }
                        })
                        .then(() => {
                            button.disabled=false;
                            Toastify({
                                text: petName + " added to your cart.",
                                duration: 3000
                            }).showToast();
                        })
                        .catch((error) => {
                            console.error('There was a problem adding a pet to the cart: ', error);
                            Toastify({
                                style: {
                                    background: "#ff0000",
                                },
                                text: "Oops!  There was a problem adding " + petName + " to your cart.",
                                duration: 3000
                            }).showToast();
                        });
            }
    </script>
}